.buttonInner {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 120px;
  background: #ccc;
  border-radius: 5px;
  border: none;
  color: #333366;
  font-weight: bold;
  height: 40px;
  font-size: 15px;
}

.input {
  border: none;
  background: #ccc;
  padding: 0 15px;
  border-radius: 5px;
  height: 40px;
  width: 280px;
  color: #333366;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.input:focus,
.button:focus {
  outline: none;
}

.title {
  margin-bottom: 15px;
  margin-top: 0;
  text-align: center;
}

.subTitle {
  font-size: 16px;
  margin-bottom: 15px;
}
