.icon {
  fill: #ff9900;
  width: 15px;
  height: 17px;
  padding: 8%;
  box-sizing: content-box;
}

.play__block {
  display: flex;
  margin-left: auto;
  width: 65px;
  justify-content: space-between;
}

.progressCircle {
  fill: none;
  stroke: #ff9900;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#progressCircle {
  position: absolute;
  width: 60px;
  height: 60px;
  stroke-linecap: round;
}

.backCircle {
  fill: none;
  stroke: #9e9e9b;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.activeCircle {
  fill: none;
  stroke: #ff9900;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 63;
  stroke-dashoffset: 63;
}
